@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Account Activation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="~/css/user_activation.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="message">
            <h2>Congratulations!</h2>
            <p>Your account has been activated.</p>
            <p>Now you can login to your account.</p>
            <a href="http://localhost:5259/Account/Index" class="btn btn-primary">Login</a>
        </div>
    </div>
</body>
</html>

